.container {
  /* font-size: 1.5rem; */
  max-width: 1200px;
  /* margin: 20px auto; */
  /* width: 0 auto; */
  /* flex: 1; */
  /* padding: 8rem 0; */
}

.content-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 100px 0;
  margin-left: -50px;
  /* grid-template-rows: 1fr 1fr; */
  gap: 20px;

  /* flex-wrap: wrap; */
  max-width: 1200px;
}

.card {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 0px;
  line-height: 1.4;
  min-height: 115px;
  width: 500px;
}

.card img {
  max-height: 80px;
  width: auto;
  align-self: flex-start;
}

.card .title {
  /* margin-block-end: 16px; */
  color: var(--black);
  font-size: 1.6rem;
}

.card .text {
  font-size: 1.5rem;
  /* margin-block-end: 20px; */
}

.card a {
  color: var(--blue);
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.4rem;
  text-decoration: none;
}

.card a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.card a img {
  width: 20px;
  align-self: center;
  /* height: fit-content; */
}
