ul {
  list-style: none;
  padding-left: 0;
}

footer {
  /* width: 100%; */
  /* margin-top: auto !important; */
  background-color: var(--black);
  color: var(--white);
  padding: 10px 40px 100px;
  line-height: 1.5;
}

footer a {
  text-decoration: none;
  color: var(--white);
}

a:hover {
  text-decoration: underline;
}

.title {
  color: var(--white);
  font-size: 1.4rem;
  padding-bottom: 1rem;
}

.main {
  padding: 2rem;
  display: flex;
  /* flex-wrap: wrap; */
}

.main-item {
  /* padding: 0.5rem; */
  min-width: 12.5rem;
}
