ul {
  list-style: none;
  padding-left: 0;
}

footer {
  /* width: 100%; */
  /* margin-top: auto !important; */
  background-color: var(--black);
  color: var(--white);
  padding: 10px 40px 50px;
  line-height: 1.5;
}

footer a {
  text-decoration: none;
  color: var(--white);
}

a:hover {
  text-decoration: underline;
}

.title {
  color: var(--white);
  font-size: 1.4rem;
  padding-bottom: 1rem;
}

footer .main {
  max-width: 1200px;
  margin: 10px auto;
}

.main .container {
  max-width: 1200px;
  padding: 2rem;
  display: flex;
  gap: 40px;
  margin: 0;
  /* flex-wrap: wrap; */
}

.main .container .main-item {
  /* padding: 0.5rem; */
  /* gap: 200px; */
  min-width: 12.5rem;
}

.main .container .copyright {
  margin: 150px 10px 0px;
  line-height: 2;
  /* position: absolute;
  top: ;
  right: 0;
  bottom: ;
  left: ; */
}

.copyright img {
  width: 40px;
  /* height: auto; */
}
